HØYDEDATA_LOG_LEVEL=INFO
# HØYDEDATA_API_URL=https://hoydedata.no/arcgis/rest/services
# HØYDEDATA_API_LAYER=NHM_DTM_25833
# HØYDEDATA_API_TIMEOUT=500
# HØYDEDATA_API_RETRY_ATTEMPTS=3
# HØYDEDATA_API_RETRY_MIN_WAIT=1
# HØYDEDATA_API_RETRY_MAX_WAIT=10
# HØYDEDATA_ELEVATION_SERVICE_MAX_SIZE=2000
